@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header panel */

.navbar {
    height: 120px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    height: 55px;
    width: 150px;
    margin-left: 40px;
}

.navbar button {
    height: 35px;
    width: 100px;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 60px;
}

/* herosection1 */

.herosection1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.herosection1 img {
    height: 800px;
    border: 5px solid transparent;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-size: contain;
}

.herosection1-icon {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.herosection1-icon hr {
    width: 100px;
    height: 3px;
    color: white;
    background-color: white;
    border-radius: 4px;
}

.herosection1-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    gap: 10px;
}

.herosection1-input input {
    height: 60px;
    width: 400px;
    background-color: rgba(80, 80, 128, 0.712);
    border: 1px solid white;
    border-radius: 40px;
    text-align: center;
    color: white;
}

.herosection1-input button {
    height: 60px;
    width: 200px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 1.6rem;
    font-weight: bold;
}

/* herosection2 */

.herosection2 {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #E3D6D4;
    gap : 15px;
    margin-left: 190px;
}

.herosection2 h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.herosection2-movie {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;

}

.herosection2-movie img {
    height: 280px;
    width: 220px;
    border-radius: 20px;
}

/* herosection3 */

.herosection3 {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #E3D6D4;
    gap : 15px;
    margin-left: 190px;
}

.herosection3 h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.herosection3-movie {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;

}

.herosection3-movie img {
    height: 280px;
    width: 220px;
    border-radius: 20px;
}

.Movie img:hover {
    cursor: pointer;
    transform: scale(110%);
}

/* herosection4 */

.herosection4 {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    gap : 15px;
    margin-left: 190px;
}

.herosection4 h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.herosection4-spanbox {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.herosection4-spanbox span {
    position: relative;
    height: 125px;
    width: 360px;
    background-color: #252525;
    border-radius: 20px;
    border: 1px solid #303030;
    color: white;
}

.herosection4-spanbox span h3 {
    position: absolute;
    font-size: 1.1rem;
    top: 10px;
    left: 20px;
}

.herosection4-spanbox span i {
    position: absolute;
    font-size: 2rem;
    right: 20px;
    bottom: 20px;
    color: red;
}

/* herosection5 */

.herosection5 {
    height: 750px;
    display: flex;
    flex-direction: column;
    color: white;
    gap : 15px;
    margin-left: 190px;
    margin-right: 190px;
}

.herosection5 h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

.herosection5-spanbox {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 15px;
}

.herosection5-spanbox span {
    height: 75px;
    background-color: #252525;
    border: 1px solid #303030;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.herosection5-spanbox span h3 {
    color: white;
    font-size: 1.1rem;
    margin-left: 25px;
}

.herosection5-spanbox span i {
    margin-right: 25px;
    font-weight: 100;
    font-size: 1.7rem;
}

.herosection5 button {
    height: 40px;
    width: 150px;
    background-color: red;
    color: white;
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 40%;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: #E3D6D4;
    gap: 20px;
    margin-left: 300px;
}

.footer p {
    text-decoration: underline;
    font-size: 0.9rem;
}

.footer p:hover {
 cursor: pointer;
}


.footer span {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 20px;
    margin-top: 30px;
}

.footer button {
    height: 35px;
    width: 150px;
    border: 1px solid #303030;
    background-color: #252525;
    color: white;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer button:hover {
    cursor: pointer;
    background-color: #424242;
    border: 1px solid #ffffff;
    font-size: 1.1rem;
}

.footer h5 {
    font-size: 0.85rem;
    margin-bottom: 100px;
    font-weight: 400;
}

/* Responsive for all devices */ 

@media (max-width: 1650px) {
    .navbar {
        height: auto;
        padding: 15px;
    }

    .navbar img {
        height: 60px;
        width: auto;
        margin: 10px 0;
    }

    .navbar button {
        width: 80px;
        height: 40px;
        font-size: 0.9rem;
    }

    .herosection1 img {
        width: 95%;
        height: auto;
        border-radius: 20px;
    }

    .herosection1-input input {
        width: 350px;
        height: 55px;
    }

    .herosection1-input button {
        width: 180px;
        height: 55px;
        font-size: 1.4rem;
    }

    .herosection2, .herosection3, .herosection4, .herosection5 {
        height: auto;
        margin-left: 50px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .herosection2-movie, .herosection3-movie {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .herosection2-movie img,
    .herosection3-movie img {
        height: 250px;
        width: 200px;
    }

    .herosection4-spanbox {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .herosection4-spanbox span {
        width: 350px;
        height: 120px;
    }

    .herosection5-spanbox {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .herosection5-spanbox span {
        height: auto;
        padding: 20px;
        gap: 40px;
    }

    .herosection5 button {
        font-size: 1rem;
        width: 140px;
        height: 40px;
        margin-left: 2%;
    }

    .footer {
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        gap: 50px;
    }

    .footer span {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    .footer button {
        width: 110px;
        font-size: 1rem;
    }
}


/* For small devices (up to 768px) */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 10px;
    }

    .navbar img {
        margin: 10px 0;
        height: 50px;
        width: auto;
    }

    .navbar button {
        margin: 10px 0;
        width: 70px;
    }

    .herosection1 img {
        height: auto;
        width: 100%;
        border-radius: 15px;
    }

    .herosection1-input input {
        width: 280px;
        height: 50px;
    }

    .herosection1-input button {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
    }

    .herosection2, .herosection3, .herosection4, .herosection5 {
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 100px;
    }

    .herosection2-movie, .herosection3-movie {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .herosection2-movie img,
    .herosection3-movie img {
        height: 250px;
        width: 200px;
    }

    .herosection4-spanbox {
        flex-direction: column;
    }

    .herosection4-spanbox span {
        width: 300px;
        height: 100px;
    }

    .herosection5-spanbox span {
        justify-content: center ;
        align-items: center;
        gap: 30px;
    }

    .herosection5 button {
        font-size: 0.9rem;
        width: 120px;
        height: 35px;
        margin-left: 5%;
    }

    .footer {
        margin-left: 20px;
        align-items: center;
    }

    .footer span {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .footer button {
        width: 100px;
        font-size: 0.9rem;
    }
}

/* For extra small devices (up to 480px) */
@media (max-width: 480px) {
    .navbar {
        height: auto;
        padding: 10px;
    }

    .navbar img {
        margin: 10px 0;
        height: 50px;
        width: auto;
    }

    .navbar button {
        margin: 10px 0;
        width: 70px;
    }

    .herosection1 img {
        height: auto;
        width: 100%;
        border-radius: 15px;
    }

    .herosection1-input input {
        width: 280px;
        height: 50px;
    }

    .herosection1-input button {
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
    }

    .herosection2, .herosection3, .herosection4, .herosection5 {
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-bottom: 100px;
    }

    .herosection2-movie, .herosection3-movie {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .herosection2-movie img,
    .herosection3-movie img {
        height: 250px;
        width: 200px;
    }

    .herosection4-spanbox {
        flex-direction: column;
    }

    .herosection4-spanbox span {
        width: 300px;
        height: 100px;
    }

    .herosection5-spanbox span {
        justify-content: center ;
        align-items: center;
        gap: 30px;
    }

    .herosection5 button {
        font-size: 0.9rem;
        width: 120px;
        height: 35px;
        margin-left: 5%;
    }

    .footer {
        margin-left: 20px;
        align-items: center;
    }

    .footer span {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .footer button {
        width: 100px;
        font-size: 0.9rem;
    }
}

